{{page-title 'Users'}}
<h1>Users</h1>
<input
  type='text'
  id='search'
  placeholder='search user...'
  {{on 'input' this.onUserSearch}}
/>
<Users::List
  @users={{this.sortedUsers}}
  @contributions={{this.model.contributions}}
/>
{{outlet}}