<ul class='list-group'>
  <li class='list-group-item d-flex justify-content-between align-items-start'>
    <div class='ms-2 me-auto'>
      <div class='fw-bold'><LinkTo
          @route='home.user.show'
          @model={{@user}}
        >@{{@user.username}}</LinkTo></div>
      {{@user.name}}
      {{@user.surname}}
      {{#if this.shouldBeContributionsShow}}
        <Users::List::User::Contributions
          @contributions={{this.contributionsToShow}}
        />
      {{/if}}
    </div>
    {{#if this.contributionsToShow.length}}
      <span
        role='button'
        class='badge bg-primary rounded-pill'
        {{on 'click' this.onContributionsShow}}
      >{{this.contributionsToShow.length}}</span>
    {{/if}}
  </li>

</ul>

{{yield}}