{{page-title 'New'}}
<PowerSelect
  @searchEnabled={{true}}
  @options={{this.allUsers}}
  @matcher={{this.myMatcher}}
  @selected={{this.choosenUser}}
  @onChange={{this.chooseUser}}
  as |user|
>
  @{{user.username}}
  -
  {{user.name}}
  {{user.surname}}
</PowerSelect>

<div class='container'>
  <form {{on 'submit' this.onSubmit}}>
    <input
      type='text'
      class='form-control'
      id='title'
      placeholder='title'
      {{on 'input' this.onTitleChange}}
    />
    <input
      type='text'
      class='form-control'
      id='amount'
      placeholder='amount'
      {{on 'input' this.onAmountChange}}
    />
    <button
      type='button'
      class='btn btn-success'
      {{on 'click' this.onAddContributor}}
    >Add</button>
    <button type='button' class='btn btn-danger'>Delete</button>
    <button type='submit' class='btn btn-primary'>Create</button>

  </form>

</div>

{{#each this.currentContribution.contributors as |contribution-user|}}
  {{contribution-user.contributor.username}}
  -
  {{contribution-user.amount}}
  - delete
{{/each}}

{{outlet}}