<div class='mx-auto w-75 p-3'>

  <div class='card text-center'>

    <div class='card-body'>
      <h5 class='card-title'><LinkTo
          @route='home.contribution.show'
          @model={{@contribution}}
        >{{@contribution.title}}</LinkTo></h5>

      <p class='card-text'>Owner:
        <LinkTo
          @route='home.user.show'
          @model={{@contribution.owner}}
        >{{@contribution.owner.username}}</LinkTo>
      </p>
      <p class='card-text'>Status: {{this.statusOfContribution}}</p>

      <table class='table'>
        <thead>
          <tr>
            <th scope='col'>Username</th>
            <th scope='col'>Amount</th>
            <th scope='col'>Status</th>
          </tr>
        </thead>
        <tbody>
          {{#if this.shouldBeContributionHidden}}
            <Contributions::List::Contribution::Row
              @contributionUser={{this.myDebt}}
              @contribution={{@contribution}}
            />
          {{else}}
            {{#each @contribution.contributors as |contributionUser|}}
              <Contributions::List::Contribution::Row
                @contributionUser={{contributionUser}}
                @contribution={{@contribution}}
              />
            {{/each}}
          {{/if}}
        </tbody>
        <tfoot>
          <tr>
            <th scope='col'>Summary:</th>
            <th scope='col'>{{@contribution.goal}} PLN</th>
            <th scope='col'></th>
          </tr>
        </tfoot>
      </table>
      <LinkTo
        @route='home.contribution.show'
        @model={{@contribution}}
      >details</LinkTo>
    </div>
    <div class='card-footer text-muted'>
      Deadline:
      {{this.daysToGo}}
    </div>
  </div>
</div>

{{yield}}