<tr class={{this.payment.class}}>
  <td
    data-test-username-row={{@rowIndex}}
  >{{@contributionUser.contributor.username}}</td>
  <td data-test-amount-row={{@rowIndex}}>{{@contributionUser.amount}} PLN</td>
  <td data-test-status-row={{@rowIndex}}>{{this.payment.label}}</td>
</tr>
{{yield}}