<tr class={{this.payment.class}} data-test-row={{@index}}>
  <td
    data-test-row-username={{@index}}
  >{{@contributionUser.contributor.username}}</td>
  <td data-test-row-amount={{@index}}>{{@contributionUser.amount}} PLN</td>
  {{#if this.isPaidByUser}}
    <td>{{this.payment.label}}</td>
    <td></td>
  {{else}}
    <td>{{this.payment.label}}</td>
    <td>
      {{#if this.amIOwner}}
        <Contribution::Details::Row::Actions
          @receiver={{@contributionUser.contributor}}
          @contribution={{@contribution}}
          @owner={{@contribution.owner.username}}
          @debt={{@contributionUser}}
          @deadline={{@deadlineFormat}}
        />
      {{/if}}
    </td>

  {{/if}}
</tr>