<div class='details'>
  <div class='text-center'>
    <h2 data-test-title>{{@contribution.title}}</h2>
    <h3 data-test-owner>Owner: {{@contribution.owner.username}}</h3>
    <h4 data-test-deadline>Deadline: {{this.deadlineFormat}}</h4>
    <h4 data-test-status>Status: {{this.statusOfContribution}}</h4>
  </div>

  <table class='table'>
    <thead>
      <tr>
        <th scope='col'>Username</th>
        <th scope='col'>Amount</th>
        <th scope='col'>Status</th>
        <th scope='col'>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#if this.shouldBeContributionHidden}}
        <Contribution::Details::Row
          @contributionUser={{this.myDebt}}
          @contribution={{@contribution}}
          @deadlineFormat={{this.deadlineFormat}}
          @index={{0}}
        />
      {{else}}
        {{#each @contribution.contributors as |contributionUser index|}}
          <Contribution::Details::Row
            @contributionUser={{contributionUser}}
            @contribution={{@contribution}}
            @deadlineFormat={{this.deadlineFormat}}
            @index={{index}}
          />
        {{/each}}
      {{/if}}

    </tbody>
    <tfoot>
      <tr>
        <th scope='col'>Summary:</th>
        <th scope='col' data-test-goal>{{@contribution.goal}} PLN</th>
        <th scope='col'></th>
        <th scope='col'></th>
      </tr>
    </tfoot>
  </table>
</div>

{{yield}}