<tr class='table-primary' data-test-row={{@index}}>
  <td
    data-test-username={{@index}}
  >{{@contributionUser.contributor.username}}</td>
  <td data-test-amount={{@index}}>{{@contributionUser.amount}} PLN</td>
  <td></td>
  <td data-test-delete={{@index}}><button
      type='button'
      class='btn btn-link card-link'
      {{on 'click' this.onDeleteContributor}}
    >Delete</button></td>
</tr>