<div class='container-xl px-4 mt-4'>

  <div class='col-xl-8'>
    <div class='card mb-4'>
      <div class='card-header'>Account Details</div>
      <div class='card-body'>
        <form>
          <div class='row gx-3 mb-3'>
            <div class='col-md-6'>
              <label class='small mb-1' for='inputFirstName'>First name</label>
              <input
                class='form-control'
                id='inputFirstName'
                type='text'
                placeholder='Enter your first name'
                value={{@currentUser.name}}
                disabled={{this.shouldBeLocked}}
                {{on 'input' (fn this.onPropertyChange 'name')}}
                data-test-input-name
              />
            </div>
            <div class='col-md-6'>
              <label class='small mb-1' for='inputLastName'>Last name</label>
              <input
                class='form-control'
                id='inputLastName'
                type='text'
                placeholder='Enter your last name'
                value={{@currentUser.surname}}
                disabled={{this.shouldBeLocked}}
                {{on 'input' (fn this.onPropertyChange 'surname')}}
                data-test-input-surname
              />
            </div>
          </div>
          <div class='mb-3'>
            <label class='small mb-1' for='inputUsername'>Username</label>
            <input
              class='form-control'
              id='inputUsername'
              type='text'
              placeholder='Enter your username'
              value={{@currentUser.username}}
              disabled={{this.shouldBeLocked}}
              {{on 'input' (fn this.onPropertyChange 'username')}}
              data-test-input-username
            />
          </div>
          <div class='mb-3'>
            <label class='small mb-1' for='inputPassword'>Password</label>
            <input
              class='form-control'
              id='inputPassword'
              type='password'
              placeholder='Enter new password'
              value={{@currentUser.password}}
              disabled={{this.shouldBeLocked}}
              {{on 'input' (fn this.onPropertyChange 'password')}}
              data-test-input-password
            />
          </div>

          <div class='mb-3'>
            <label class='small mb-1' for='inputEmail'>Email</label>
            <input
              class='form-control'
              id='inputEmail'
              type='text'
              placeholder='Enter your email'
              value={{@currentUser.email}}
              disabled={{this.shouldBeLocked}}
              {{on 'input' (fn this.onPropertyChange 'email')}}
              data-test-input-email
            />
          </div>

          <div class='mb-3'>
            <label class='small mb-1' for='inputPhoneNumber'>Phone number</label>
            <input
              class='form-control'
              id='inputPhoneNumber'
              type='text'
              placeholder='Enter your phone number for Blik transactions'
              value={{@currentUser.blikNumber}}
              disabled={{this.shouldBeLocked}}
              {{on 'input' (fn this.onPropertyChange 'blikNumber')}}
              data-test-input-blik-number
            />
          </div>

          <div class='mb-3'>
            <label class='small mb-1' for='inputBankAccount'>Bank Account number</label>
            <input
              class='form-control'
              id='inputBankAccount'
              type='text'
              placeholder='Enter your bank account number'
              value={{@currentUser.bankAccountNumber}}
              disabled={{this.shouldBeLocked}}
              {{on 'input' (fn this.onPropertyChange 'bankAccountNumber')}}
              data-test-input-bank-account-number
            />
          </div>

          <div class='mb-3'>
            <label class='small mb-1' for='inputRevolutUsername'>Revoult
              username</label>
            <input
              class='form-control'
              id='inputRevolutUsername'
              type='text'
              placeholder='Enter your Revolut username'
              value={{@currentUser.revolutUsername}}
              disabled={{this.shouldBeLocked}}
              {{on 'input' (fn this.onPropertyChange 'revolutUsername')}}
              data-test-input-revolut
            />
          </div>

          <div class='mb-3'>
            <label class='small mb-1' for='inputPayPalUsername'>PayPal username</label>
            <input
              class='form-control'
              id='inputPayPalUsername'
              type='text'
              placeholder='Enter your PayPal username'
              value={{@currentUser.paypalUsername}}
              disabled={{this.shouldBeLocked}}
              {{on 'input' (fn this.onPropertyChange 'paypalUsername')}}
              data-test-input-paypal
            />
          </div>
          {{#if this.editMode}}
            <button
              class='btn btn-danger'
              type='button'
              {{on 'click' this.discardChanges}}
              data-test-button-discard
            >Cancel</button>
            <button
              class='btn btn-primary'
              type='button'
              disabled={{this.shouldBeButtonDisabled}}
              {{on 'click' this.onSubmit}}
              data-test-button-save
            >Save changes</button>
          {{else}}
            <button
              class='btn btn-primary'
              type='button'
              {{on 'click' this.onChangeMode}}
              data-test-button-edit
            >Edit</button>
          {{/if}}
        </form>
      </div>
    </div>
  </div>
</div>

{{yield}}